<% if @platform.errors.any? %>
  <div id="error_explanation">
      <h2><%= pluralize(@platform.errors.count, "error") %> prevented your platform from being saved:</h2>
    <ul>
    <% @platform.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>